.first{
  height: 100px;
  width: 100px;
  background-color: yellow;
  position: absolute;
  left: 0;
  top: 0;
}
.second{
  height: 100px;
  width: 100px;
  background-color: blue;
  position: absolute;
  left: 100px;
  top: 100px;

}
.third{
  height: 100px;
  width: 100px;
  background-color: red;
  position: absolute;
  left: 200px;
  top: 200px;
}
